
<div class="container">
  <div class="row">
      <div class="col s6">
        <div class="row">
            <h4>Activities</h4>
        </div>
        <div class="row">
          <form [formGroup]='activityform' (ngSubmit)='onSubmit()'>
            <div class="input-field col s8">
              <input id="name" type="text" class="validate" formControlName='name'>
              <label for="name">New activity</label>
            </div>
            <div class="input-field col s4">
              <button type="submit" class="waves-effect waves-light btn amber darken-1" >Add</button>
            </div>
          </form>
        </div>
        <div class="row">
            <div  class="col s12">
              <div *ngFor="let activity of activities" class="chip amber lighten-2">
                
                  {{activity.name}} <i class="close material-icons right" (click)="deleteActivity(activity.name)">close</i>
              
              </div>
            </div>
          </div>
      </div>
      <div class="col s6">
        <div class="row">
            <h4>Categories</h4>
        </div>
        <div class="row">
          <div class="col s12 m4 l2 center-align">
              <a class="btn-floating btn-large waves-effect waves-light amber lighten-2"><i class="material-icons">sentiment_very_satisfied</i></a>
              <p>Amazing</p>
          </div>
          <div class="col s12 m4 l2 center-align">
              <a class="btn-floating btn-large waves-effect waves-light green lighten-2"><i class="material-icons">sentiment_satisfied</i></a>
              <p>Good</p>
          </div>
          <div class="col s12 m4 l2 center-align">
              <a class="btn-floating btn-large waves-effect waves-light purple lighten-2"><i class="material-icons">sentiment_neutral</i></a>
              <p>Meh</p>  
          </div>
          <div class="col s12 m4 l2 center-align">
              <a class="btn-floating btn-large waves-effect waves-light blue lighten-2"><i class="material-icons">sentiment_dissatisfied</i></a>
              <p>Not good</p>
          </div>
          <div class="col s12 m4 l2 center-align">
            <a class="btn-floating btn-large waves-effect waves-light red lighten-2"><i class="material-icons">sentiment_very_dissatisfied</i></a>
            <p>Horrible</p>
          </div>
        </div>
      </div>
  </div>
</div>
