<div class="container">
<form [formGroup]="user" (ngSubmit)="onSubmit()">
    <div class="row">
      <div class="input-field col s12">
          <label for="username">Username:</label>
          <input type="text" id="username" formControlName='username'>
          <div class="valign-wrapper error" 
            *ngIf='user.get("username").errors?.userAlreadyExists && user.get("username").touched'>
            <i class="material-icons left">error_outline</i> A user with that name already exists
          </div>
      </div>
    </div>
    <div class="row">
        <div [formGroup]="passwordGroup">
        <div class="input-field col s6">
          <label for="password">Password:</label>
          <input type="password" id="password" formControlName='password'>
          <div class='valign-wrapper error' 
          *ngIf='passwordGroup.get("password").errors?.passwordTooShort && passwordGroup.get("password").touched'>
          <i class="material-icons left">error_outline</i>Password needs to be at least 8 characters long
          </div>
        </div>
        <div class="input-field col s6">
          <label for="confirmpassword">Confirm password:</label>
          <input type="password" id="confirmpassword" formControlName='confirmPassword'>
          <div class='valign-wrapper error' 
          *ngIf='passwordGroup.errors?.passwordsDiffer && passwordGroup.get("confirmPassword").touched'>
          <i class="material-icons left">error_outline</i>Passwords don't match
          </div>
        </div>
      </div>
    </div>
    <div class="row">
    <div class="input-field col s12">
      <button type="submit" class="wave-effect btn amber darken-1">Register</button>
    </div>
  </div>
  </form>
</div>
