<div class="container">
<div class='row'>
  <div class='col s3'><h3>Moods</h3></div>
  <div class='col offset-s1 s8'>
      <a routerLink="/addMood" class="btn-floating btn-large waves-effect waves-light amber darken-1"><i class="material-icons">add</i></a>
  </div>
</div>
<div class='row'>
<div class='col s3'>
  <div class='row'><h4>Choose a month</h4></div>
  <div class='row'>
      <div class="col s12">
          <select #yearSelect (change)="selectYear(yearSelect.value)">
            <option *ngFor="let year of years" value="{{year}}">{{year}}</option>
          </select>
      </div>
  </div>
  <div class='row'>
      <ul class="collection">
          <li id="1" (click)='changeMonth(1)' class="collection-item" >January</li>
          <li id="2" (click)='changeMonth(2)' class="collection-item" >February</li>
          <li id="3" (click)='changeMonth(3)' class="collection-item" >March</li>
          <li id="4" (click)='changeMonth(4)' class="collection-item" >April</li>
          <li id="5" (click)='changeMonth(5)' class="collection-item" >May</li>
          <li id="6" (click)='changeMonth(6)' class="collection-item" >June</li>
          <li id="7" (click)='changeMonth(7)' class="collection-item" >July</li>
          <li id="8" (click)='changeMonth(8)' class="collection-item" >August</li>
          <li id="9" (click)='changeMonth(9)' class="collection-item" >September</li>
          <li id="10" (click)='changeMonth(10)' class="collection-item" >October</li>
          <li id="11" (click)='changeMonth(11)' class="collection-item" >November</li>
          <li id="12" (click)='changeMonth(12)' class="collection-item" >December</li>
          </ul>
  </div>
</div>
<div class='col offset-s1 s8'>
  <div class='row'>
      <div class="col s12" *ngIf="anyMoods">
        <h3 class="center-align">You have no cards for {{currentPlace}} </h3>
      </div>
      <div class="col s12 m6 l4" *ngFor="let mood of moods">
          <div class="card small {{mood.category.color}}">
            <div class="card-content">
                <p>{{getDate(mood.date)}}</p>
              <span class="card-title"> Mood: {{mood.category.name}} </span>
              <p *ngFor="let activity of mood.activities">{{activity.name}}</p>
            </div>
            <div class="card-action">  
              <a routerLink="editMood/{{mood.id}}"><i class="small material-icons">edit</i></a>
              <a ><i (click)='deleteMood(mood)' class="small material-icons">delete</i></a>
            </div>
          </div>
        </div>
  </div>
</div>
</div>
</div>
