

.btn-floating {
    float: right;
    position: relative;
    left: 0px;
    bottom: 0px;
    margin: 15px 0px;
    display: block;
  }

.collection {
    margin: 20px 0px;
}


.collection .active {
    background-color: #ffb300;
    color: white !important;
}

.collection .collection-item {
    color: #ff8f00;
    cursor: pointer;
}

select {
    background-color: rgba(255, 255, 255, 0.9);
    padding: 5px;
    border: 1px solid transparent;
    border-radius: 2px;
    height: 3rem;
    display: block !important;
    width: 100% !important;
    height: auto !important;
    opacity: 1 !important;
    border-bottom: 2px solid #ffb300;
    color: #ff8f00 !important;
}
select:focus {
    outline: 1px solid transparent;
}

.card-action a i {
    color: black;
}