<div class="container">
<div class='row'>
  <div class='col s10'><h3>Moods</h3></div>
  <div class='col s2'>
    <a class="btn-floating btn-large amber darken-1">
      <i class="large material-icons">add</i>
    </a>
  </div>
</div>
<div class='row'>
<div class='col s3'>
  <div class='row'><h4>Choose a month</h4></div>
  <div class='row'>
      <a class='dropdown-button btn amber darken-1' href='#' data-activates='dropdownJaar'>Year
          <i class="material-icons right">arrow_drop_down</i>
      </a>
      <ul id='dropdownJaar' class='dropdown-content'>
        <li><a >2016</a></li>
        <li><a >2017</a></li>
      </ul>
  </div>
  <div class='row'>
      <div class="collection">
          <a href="#!" class="collection-item">January</a>
          <a href="#!" class="collection-item">February</a>
          <a href="#!" class="collection-item">March</a>
          <a href="#!" class="collection-item">April</a>
          <a href="#!" class="collection-item">May</a>
          <a href="#!" class="collection-item">June</a>
          <a href="#!" class="collection-item">July</a>
          <a href="#!" class="collection-item">August</a>
          <a href="#!" class="collection-item">September</a>
          <a href="#!" class="collection-item">October</a>
          <a href="#!" class="collection-item active">November</a>
          <a href="#!" class="collection-item">December</a>
        </div>
  </div>
  
</div>
<div class='col offset-s1 s8'>
  <div class='row'>
      <div class="col s12 m6">
          <div class="card small">
            <div class="card-content">
              <i class="medium material-icons">mood</i>
              <span class="card-title">Happy</span>
              <p>Activities</p>
            </div>
            <div class="card-action">
              <a href="#"><i class="small material-icons">edit</i></a>
              <a href="#"><i class="small material-icons">delete</i></a>
            </div>
          </div>
        </div>
  </div>
</div>
</div>
</div>
