<div class="container"><div *ngIf="!loggedin">
  <div class="row">
    <h2 class="center-align">Register now</h2>
    <p class="center-align"><a class="waves-effect waves-light btn amber darken-1" routerLink="/users/register">Register</a> </p>
   </div>
   <div class="row">  
         <div class="col s6">
             <p class="center-align"><i class="material-icons large icon-color">favorite</i></p>
           <p class="icon-text center-align">Say how you're feeling</p>
           <p class="center-align">Share your mood everyday without worrying who might read it</p>
         </div>
         <div class="col s6">
             <p class="center-align"><i class="material-icons large icon-color">show_chart</i></p>
           <p class="icon-text center-align">Keep track of your moods</p>
           <p class="center-align">Check statistics to keep track of what makes you feel good</p>
         </div>
   </div>
  </div>
  <div *ngIf="loggedin">
    <h2 class="center-align">Welcome {{username}}!</h2>
    <p class="center-align">How are you today?</p>
    <p class="center-align"><a routerLink='/addMood' class="waves-effect waves-light btn amber darken-1">Fill in your mood</a> </p>
  </div>
</div>