<div *ngIf="!loggedin">
  <div class="row" >
    <h2 class="center-align">Register now</h2>
    <p class="center-align"><a class="waves-effect waves-light btn amber darken-1" routerLink="/users/register">Register</a> </p>
   </div>
   <div class="row">  
         <div class="col s4">
             <p class="center-align"><i class="material-icons large icon-color">people</i></p>
           <p class="icon-text center-align">Connect with others</p>
           <p class="center-align">Find other people and share tips and tricks. Or just talk about whatever.</p>
         </div>
         <div class="col s4">
             <p class="center-align"><i class="material-icons large icon-color">show_chart</i></p>
           <p class="icon-text center-align">Keep track of your moods</p>
           <p class="center-align">Fill in your mood everyday.</p>
         </div>
         <div class="col s4">
             <p class="center-align"><i class="material-icons large icon-color">favorite</i></p>
           <p class="icon-text center-align">Manage your lifestyle</p>
           <p class="center-align">Keep up with your fitness or food. Share recipes and find your perfect regime.</p>
         </div>
   </div>
  </div>
  <div *ngIf="loggedin">
    <h2 class="center-align">Welcome {{username}}!</h2>
    <p class="center-align">How are you today?</p>
    <p class="center-align"><a class="waves-effect waves-light btn amber darken-1">Fill in your mood</a> </p>
  </div>
